@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

.button {
  color: theme-color("light");
  text-decoration: none;
  padding: $gutter ($gutter * 5);
  border-radius: $gutter * 3;
  font-size: $gutter * 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &--textchange {
    color: theme-color("secondary");
  }
  &--primary {
    @include button-bg(theme-color("primary"));
  }
  &--secondary {
    @include button-bg(theme-color("secondary"));
  }
  &--light {
    @include button-bg(theme-color("light"));
  }
  &__icon {
    height: $gutter * 3;
    width: $gutter * 3;
    display: inline-block;
    margin-right: $gutter;
    margin-bottom: $gutter;
    margin-left: -$gutter;
  }
}
