@mixin button-bg($bg) {
  background: $bg;

  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }

  &:active {
    background: darken($bg, 25%);
  }
}

.button {
  color: theme-color("light");
  text-decoration: none;
  padding: $gutter ($gutter * 4);
  border-radius: $gutter * 3;
  font-size: $gutter * 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;

  &--textchange {
    color: theme-color("secondary");
  }

  &--primary {
    @include button-bg(theme-color("primary"));
  }

  &--secondary {
    @include button-bg(theme-color("secondary"));
  }

  &--light {
    @include button-bg(theme-color("light"));
  }

  &__icon {
    height: $gutter * 3;
    width: $gutter * 3;
    display: inline-block;
    margin: 0 $gutter ($gutter * 0.3) 0;
  }
}
