
.input{
    background-color: theme-color("light");
    border-radius: $gutter * 3;
    margin-top: -$gutter ;

    padding: $gutter ($gutter * 2) $gutter ($gutter * 4);
    border: 2px solid;
    &__label{
        margin: $gutter $gutter*2 $gutter  $gutter*2;
    }
    &__message{
       height: $gutter * 25;
       width: $gutter * 76;
    }
}