.sub-menu {
  position: relative;
  left: 0;
  top: 100%;
  list-style: none;
  padding: $gutter ($gutter * 2) ($gutter * 2);
  color: theme-color("light");
  background-color: theme-color("special_dark");
  opacity: 1;
  transition: $transition;
  z-index: 99;
  width: 100%;
  display: none;

  @include mediaTo(md) {
    top: 0%;
    background-color: darken(theme-color("special_dark"), 10%);
  }

  @include media("md") {
    opacity: 0;
    display: initial;
    padding: $gutter ($gutter * 2);
    pointer-events: none;
    width: auto;
    height: auto;
    position: absolute;
  }

  li {
    margin-left: 0 !important;

    &:first-child {
      @include media("md") {
        display: none;
      }
    }
  }

  .menu-item.menu-item a {
    &:hover {
      color: color(light);
    }
  }
}
