%text {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.headline {
  @include cssLock("font-size", 360, 1440, (20, 80));

  @extend %text;
}

.title {
  @include cssLock("font-size", 360, 1440, (18, 36));

  @extend %text;
}

.subtitle {
  @include cssLock("font-size", 360, 1440, (16, 24));

  @extend %text;
}

.text {
  @include cssLock("font-size", 360, 1440, (12, 16));

  @extend %text;
}

.bold {
  font-weight: 900;
}

.light {
  font-weight: 300;
}
