.visual {
  width: 100%;
  padding: gutter(10) gutter(3);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $gutter * 1;

  @include media(lg) {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: $gutter * 1;
  }

  &__cell {
    position: relative;
    padding: 30%;
    margin: 0;

    img {
      @extend .image;
      @extend .absolute;

      max-width: 100%;
    }
  }

  & + .section {
    padding-top: 0;
  }
}
