.form-box {
  @extend .overlay;
  position: relative;

  &__bg {
    @extend .image;
    object-position: center 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__header {
    padding-top: ($gutter * 15);
    padding-left: ($gutter * 15);
    z-index: 10;
    position: relative;
  }

  &__content {
    padding: ($gutter * 1) ($gutter * 15);
    z-index: 10;
    position: relative;

    margin-left: auto;
    margin-bottom: 10%;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: ($gutter * 6);
  }

  &__col {
    margin-bottom: ($gutter * 3);

    &--message {
      display: grid;
      grid-template-columns: 1fr;

    }

    &--send {
      margin-top: ($gutter * 5);
      width: 50%;
    }
  }
}
