.header {
  color: map-get($theme-colors, primary);

  &__title {
    &::after {
      content: "";
      display: block;
      @include cssLock("width", 360, 1440, (50, 190));
      height: $gutter/2;
      margin: 0 auto ($gutter*2.5);
      background-color: map-get($theme-colors, secondary);
    }

    &--left {
      text-align: left;
      color: map-get($theme-colors, light);
    }
  }

  &__sub {
    opacity: 0.5;

    &--left {
      position: relative;
      padding-top: $gutter*2;
      color: map-get($theme-colors, light);

      &::after {
        content: "";
        display: inline-block;
        height: $gutter/2;
        @include cssLock("width", 360, 1440, (50, 190));
        background-color: map-get($theme-colors, secondary);
        margin-left: $gutter*4;
        margin-bottom: $gutter;
      }
    }
  }

  &__img {
    max-width: $gutter*20;
    height: auto;
    margin: 0 auto $gutter*4;
  }
}