.icon-text {
  display: flex;
  padding: ($gutter * 2) ($gutter * 2.1) ($gutter * 9);
  align-items: center;

  &__icon {
    height: auto;
    width: auto;
  }

  &__text {
    color: color(primary);
    padding: $gutter $gutter * 2.5;
  }
}
