.icon-box {
  $root: &;

  display: flex;
  align-items: center;

  &__icon {
    width: $gutter * 10;
    margin-right: $gutter * 2;
  }

  &--center {
    flex-direction: column-reverse;

    #{$root}__icon {
      margin-right: 0;
      margin-bottom: $gutter * 2;
    }
  }
}
