.avatar-section {
  position: relative;

  &__coltext {
    &--dark {
      color: color(dark);
    }

    &--primary {
      color: color(primary);
    }
  }

  &__content {
    margin-top: ($gutter * 19);
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    position: relative;
  }

  &__boxes {
    width: 110%;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: ($gutter * 15);
  }

  &__desc {
    width: 70%;
    margin: auto;
  }
}
