.footer {
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: ($gutter * 7) 0;
  }

  &__left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: $gutter * 10;
  }

  &__logo {
    width: $gutter * 21;
    height: auto;
  }

  &__nav {
    list-style-type: none;
    margin: 0;
  }

  &__link {
    color: color(light);
    padding: $gutter 0;
    display: block;
  }

  &__by {
    height: $gutter * 5;
    width: auto;
  }
}
