.gallery-feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include media(md) {
    grid-template-columns: repeat(6, 1fr);
  }

  &__image {
    height: 100%;
    object-fit: cover;
  }
}
