.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__header {
    @include cssLock("padding-top", 360, 1440, (120, 180));

    padding-left: 50%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
    z-index: -1;
  }

  &__icon {
    position: absolute;
    bottom: $gutter * 4;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
