.info-section{
  color: map-get($theme-colors, light);
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    heighT: 100%;
    object-fit: cover;
  }

  &__content {
    padding: ($gutter * 8) ($gutter * 6);
    display: flex;
    flex-wrap: wrap;
  }

  &__boxes {
    width: 65%;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: $gutter * 4;
  }

  &__desc {
    width: 35%;
  }
}