.side-box {
  position: fixed;
  top: 50%;
  left: -$gutter * 40;
  z-index: 1000;
  transition: $transition;
  display: flex;

  @include mediaTo(md) {
    top: unset;
    left: 0;
    bottom: -100%;
  }

  &:hover {
    left: 0;

    @include mediaTo(md) {
      bottom: gutter(4);
    }
  }

  .fb-page {
    width: $gutter * 40;
    max-width: $gutter * 40;

    @include mediaTo(md) {
      width: 100vw !important;
      max-width: 100vw;

      iframe,
      span {
        width: 100vw !important;
        max-width: 100vw;
      }
    }
  }

  &__fb-button {
    font-size: $gutter * 5;
    color: color("light");
    cursor: pointer;
    background-color: #3b5998;
    padding: $gutter ($gutter * 2);
    align-self: flex-start;

    @include mediaTo(md) {
      font-size: gutter(2);
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 100;
      text-align: center;
    }
  }
}
