.slogan {
  text-align: center;

  &__title {
    color: color(primary);
  }

  &__sign {
    @include cssLock("margin-top", 360, 1920, (gutter_num(4), gutter_num(8)));

    color: rgba(color(dark), 0.6);
    text-transform: uppercase;
  }
}
