.small-hero {
  @extend .overlay;

  padding-top: $gutter * 20;
  height: calc(35vh + #{$gutter * 20});
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: color(light);

  &__image {
    @extend .image;
    @extend .absolute;

    z-index: -1;
  }

  &__title {
    @include mediaTo(md) {
      text-align: center;
    }
  }
}
