@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

.button {
  color: map-get($theme-colors, light);
  text-decoration: none;
  padding: $gutter $gutter * 5;
  border-radius: $gutter * 3;
  font-size: $gutter * 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &--secondary {
    color: map-get($theme-colors, secondary);
  }

  &--primary {
    @include button-bg(map-get($theme-colors, primary));
  }
  &--light {
    @include button-bg(map-get($theme-colors, secondary));
  }
  &--white {
    @include button-bg(map-get($theme-colors, light));
  }
  &__icon {
    height: $gutter * 3;
    width: $gutter * 3;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: -10px;
  }
}
