@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

.button {
  color: white;
    text-decoration: none;
  padding: $gutter $gutter*5;
  border-radius: $gutter*3;
  font-size: $gutter*2 ;

  &--secondary{
    color: map-get($theme-colors, secondary);

  }
}

.button-blue {
  @include button-bg( map-get($theme-colors, primary));
}
.button-light {
    @include button-bg( map-get($theme-colors, secondary));
  }
  .button-white {
    @include button-bg( map-get($theme-colors, light));
  }